/*ABOUT画面*/
.content-about{
  background: url('../img/back.jpg');
  background-size: cover;
  background-position: 0% 80%;
  width: 100%;
  height: 100%;
}
.title-text-about{
  font-family: cursive;
  font-size: 2.8rem;
  color: white;
  box-sizing: inherit;
  padding-top: 10px;
  text-align: center;
}
.profile{
  background-color: #f4f4f4ed;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  width: 50%;
  height: 450px;
  box-sizing: inherit;
  padding: 15px;
  overflow: scroll;
}
.profile-title{
  color: black;
  box-sizing: inherit;
  padding: 10px;
  font-size: 1.5rem;
}
.link-box-about{
  margin-top: 50px;
}
.text-content{
  list-style:;
}
.plofile-text{
  color: black;
  font-size: 1rem;
  text-align: left;
  margin-left: 10px;
}
.list-text{
  color: #444;
  box-sizing: inherit;
  padding-left: 10px;
  font-size: 1rem;
  text-align: left;
  font-family: bold;
}
.list-text-lang{
  color: #444;
  box-sizing: inherit;
  padding-left: 10px;
  font-size: 1rem;
  text-align: center;
  font-family: bold;
}
.profile-text{
  color: #444;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.profile-text:before, .profile-text:after{
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #444;
  display: block;
}
.profile-text:before {
  margin-right: .4em;
}
.profile-text:after {
  margin-left: .4em;
}
.link-blog{
  text-decoration: none;
  color: #444;
  font-size: 1.5rem;
  margin-left: 10px;
}
.link-blog:hover{
  color: #ff8200bd;
}
/*ul li {
  position: relative;
}
ul li::after {
  display: block;
  content: '';
  position: absolute;
  top: .65em;
  left: -1em;
  width: 8px;
  height: 1px;
  background-color: #666;
}
*/
